@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Mulish', sans-serif; */
  font-size: 16px;
  margin: auto;
  background: #ffffff;
  padding: 1rem;
  color: var(--color-secondary);
}

:root {
  --color-rate: rgba(235, 87, 87, 0.72);
  --color-main: rgba(235, 87, 87, 0.9);
  --color-secondary: #333333;
  --color-placehoder: #bdbdbd;
  --color-stay-rate: #4f4f4f;
  --color-room: #828282;
  --color-search: #f2f2f2;
}

.material-symbols-outlined {
  font-family: "Material Icons";
  font-size: 0.875rem;
  color: rgba(235, 87, 87, 0.9);
  background: transparent;
}

img {
  width: 100%;
  max-width: 350px;
  max-height: 238.35px;
  border-radius: 24px;
}

header {
  width: 100%;
  height: 50px;
}

.header-img {
  border-radius: none;
  width: auto;
}

/* main style */

/* main {
} */

.search-bar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 55px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.location-select,
.guest-input {
  border: none;
  border-right: 1px solid var(--color-search);
  padding: 0.5rem;
  text-align: center;
}

.location-select {
  appearance: none;
  width: 50%;
}

.location-select span.material-symbols-outlined {
  font-family: "Material Icons";
  font-size: 0.875rem;
  color: rgba(235, 87, 87, 0.9);
  background: transparent;
}

.selector .ant-select-arrow,
.location-select .ant-select-arrow {
  display: none;
}
:where(.css-dev-only-do-not-override-k7429z) .ant-select-focused {
  border: none;
}
:where(.css-dev-only-do-not-override-k7429z)
  .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border: none;
}

.guest-input {
  width: 30%;
}
.guest-input::placeholder {
  color: var(--color-placehoder);
}

.btn-main-search {
  border: none;
  border-radius: 16px;
  background: transparent;
  padding: 1rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button span.material-symbols-outlined {
  align-self: center;
  font-size: 1.3rem;
}

/* filterDrawer */
.ant-drawer-header {
  border: none;
}
.ant-drawer-header-title {
  display: flex;
  flex-direction: row-reverse;
}
.ant-drawer-title {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
}

.searching-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  margin-bottom: 3rem;
}

.location {
  border-bottom: 1px solid var(--color-search);
}

.location,
.guests {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.location label,
.guests label {
  padding: 0.5rem;
}

.ant-select.selector.css,
.input-wrap {
  border: none;
  width: 100%;
}

.selector .ant-select-dropdown {
  top: 250px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
}

.location-detail {
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  line-height: 18px;
  color: var(--color-stay-rate);
  margin-bottom: 3rem;
}

.location-detail li {
  padding: 0.5rem;
}

.location-detail span {
  margin-right: 0.5rem;
}

.drawer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: var(--color-search);
  padding: 1.5rem;
  margin: auto;
}

.drawer-btn span.material-symbols-outlined {
  color: var(--color-search);
  margin-right: 0.5rem;
}

.ant-btn-default:hover + :active {
  border-color: var(--color-main);

  color: var(--color-rate);
}

.where {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 0;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--color-stay-rate);
}

.room-detail {
  margin-bottom: 2rem;
}

h3 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
}

.room-intro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.types p,
.rate {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
}

.superhost {
  border: 1px solid var(--color-stay-rate);
  border-radius: 12px;
  padding: 0.3rem 0.5rem;

  font-weight: 700;
  font-size: 0.625rem;
  line-height: 12px;
  text-transform: uppercase;

  color: var(--color-stay-rate);
}

.types {
  display: flex;
}
.types p {
  color: var(--color-room);
}
.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-stay-rate);
}
.rate span.material-symbols-outlined {
  font-size: 0.875rem;
}

/* footer */

footer {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem 0;
}
footer p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;

  color: var(--color-room);
}
